* {
    box-sizing: border-box;
  }

  body{
    /* background-image: none !important; */
  }
.container_donor {
    /* justify-content: center; */
    /* align-items: center; */
    display: flex;
    flex-direction: column; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* input[type=text], select, textarea {
    width: 93%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  } */
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin: 25px 210px;
    padding: 12px 70px;
    border: none;
    border-radius: 8px;
    width: 35%
    
  } */
  
  /* input[type=submit]:hover {
    background-color: #45a049;
  } */

  .col-25 {
    padding-left: 12px;
    /* float: left; */
    width: 20%;
    margin-top: 6px;  
    /* border: 1px solid #000000; */
  }
  
  .col-75 {
    /* float: left; */
    width: 80%;
    margin-top: 6px;
    /* border: 1px solid #000000; */
  }
  
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  .submit_donor{
    background-color: #4CAF50;
    color: white;
    margin: 25px 210px;
    padding: 12px 70px;
    border: none;
    border-radius: 8px;
    width: 35%
  }

  .text_donor{
    width: 93%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  

  
    





