* {
    box-sizing: border-box;
  }

  body{
    /* background-image: none !important; */
  }
  .head_donor {
    text-align: center;
  }
.container_donor {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.wholeForm {
  margin-top: 67px;
}

.dFormBar {
  background: '#C6CAB1';
  color: 'black'
}

.headingForm {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-grow: 1;
  color: black;
}

/* .row {
  justify-content: center;
    align-items: center;
} */

/* input[type=text], select, textarea {
    width: 93%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  } */
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  /* input[type=submit] {
    background-color: #4CAF50;
    color: white;
    margin: 25px 210px;
    padding: 12px 70px;
    border: none;
    border-radius: 8px;
    width: 35%
    
  } */
  
  /* input[type=submit]:hover {
    background-color: #45a049;
  } */

  .col-25 {
    padding-left: 180px;
    /* float: left; */
    width: 50%;
    /* margin-top: 2px;  */
    font-size: 30px;
    
    /* border: 1px solid #000000; */
  }
  
  .col-75 {
    /* float: left; */
    padding-top: 13px;
    width: 50%;
    margin-top: 6px;
    /* padding-left: 20px; */
    align-items: center;
    
    /* border: 1px solid #000000; */
  }
  
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  .submit_donor{
    background-color: #4CAF50;
    color: white;
    margin: 25px 210px;
    padding: 12px 70px;
    border: none;
    border-radius: 8px;
    width: 35%
  }

  .text_donor{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .back_donor {
    background-color: hsl(0, 90%, 41%);
    color: white;
    margin: -9px 210px;
    padding: 12px 70px;
    border: none;
    border-radius: 8px;
    width: 35%
  }

  

  
    





