#weather {
    background-image: url('../../../images/night.jpg');
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    font-size: 55px;
    color: #2b304d
}

.temp {
    place-items: center
}

.container-fluid {
    background-image: url('../../../images/night.jpg');
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.temp-details>p>span,
.grey {
    color: #a3acc1;
    font-size: 12px
}

.fa {
    color: #a5a5b1
}

